{% extends "base.html" %}
{% block content %}

<div class="row-white">
  <h1>Firefly</h1>
  <h2>An AI assistant that attends your meetings, takes<br/><b>beautiful</b> notes, and never forgets an action item<i>!!</i></h2>

  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" id="homepage_sign_up">

      <div class="input-group" id="sign_up">
        <input type="text" class="form-control" placeholder="E-mail address...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Create New Organization&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
        </span>

      </div><!-- /input-group -->
      <p> Your company already uses Firefly? <a href="#">Sign in</a> or <a href="#">find your organization</a>.</p>
    </div><!-- /.col-lg-3 -->
    <div class="col-lg-4"></div>
  </div>

<div class="row-light">
  <h2>Why Firefly?</h2>
  <p>Firefly is for people who conduct programming phone screens<br/>
    and people who mentor other programmers remotely.</p>
</div>
<div class="row-white">
  <div class="col-md-4">
    <h2>Invite Firefly to your meetings</h2>
    <p>Add Firefly to your meeting's calendar invite. <br/>Firefly will attend your
    meeting as a silent participant.</p>
  </div>
  <div class="col-md-4"><h2>Hit record</h2></div>
  <div class="col-md-4"><h2>Get <b>amazing</b> minutes</h2></div>
</div>
{% endblock %}
